body {margin: 0; font-size: 16px;}

header {
    padding: 16px 32px;
}

main {
    padding: 16px 32px;
}

footer {
    padding: 16px 32px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}

#gallery_container {
    display: grid;
    gap: 0.5rem;
}

.image_wrapper {
    height: 400px;
    position: relative;
}

nav {
    display: grid;
    grid-auto-flow: column;
}

@media screen and (min-width: 768px) {
    #gallery_container {
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
        gap: 0.5rem;
    }
}