body {margin: 0; font-size: 16px;}

header {
    padding: 16px 32px;
}

main {
    padding: 16px 32px;
}

footer {
    padding: 16px 32px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

figure {
    margin: 0;
}

#gallery_container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 0.5rem;
}

.image_wrapper {
    height: 400px;
    position: relative;
}