#header {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./assets/img/main_img.jpg');
    background-position: center;
}

@media screen and (min-width: 1024px) {
    #header {
        height: 700px;
    }
}